<br>

<container>
  <row class="collapse">
    <columns small="12" large="12">
    	<%= image_tag "what.jpg",:alt=>"principal", :style=>"height:auto;width:100%;", :class=>"principal", :id=>"id_name"%>
    </columns>
  </row>
</container>

<hr>

<div class="row column">
	<div class="medium-1 columns">&nbsp;</div>
	<div class="medium-10 columns">
		<p style="text-align: center;">¡Bienvenido!</p>
		<p style="text-align: justify;">En este espacio quiero compartir con ustedes, y de la manera más próxima, mi biografía gastronómica, experiencias, creaciones, nuevos retos, etc.

		Como ya saben, mi pasión es cocinar, en ese espacio de pocos metros cuadrados, es donde me invade siempre la inspiración. Ahí  se activan todos mis sentidos,  el plato es el lienzo, la cuchara mi pincel y cada ingrediente un color con el que he llenado mi vida.
		</p>
	</div>
	<div class="medium-1 columns"></div>
</div>
 <%= render 'layouts/foundation' %>