<br>
<div class="fullscreen-image-slider">
  <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit data-no-turbolink>
    <ul class="orbit-container">
      <button class="orbit-previous">
        <span class="show-for-sr">Previous Slide</span>
        <span class="nav fa fa-chevron-left fa-3x"></span>
      </button>
      <button class="orbit-next">
        <span class="show-for-sr">Next Slide</span>
        <span class="nav fa fa-chevron-right fa-3x"></span>
      </button>
      <li class="is-active orbit-slide">
      	<%= image_tag("h.jpg") %>
      </li>
    </ul>
  </div>
</div>

<hr>


<div class="row column">
	<div class="medium-3 columns">&nbsp;</div>
	<div class="medium-6 columns">
		<p class="text-center" style="font-family: 'Hind', sans-serif;">¡Bienvenido!<br>En este espacio quiero compartir con ustedes, y de la manera más próxima, mi biografía gastronómica, experiencias, creaciones, nuevos retos, etc.

		Como ya saben, mi pasión es cocinar, en ese espacio de pocos metros cuadrados, es donde me invade siempre la inspiración. Ahí  se activan todos mis sentidos,  el plato es el lienzo, la cuchara mi pincel y cada ingrediente un color con el que he llenado mi vida.
		</p>
	</div>
	<div class="medium-3 columns"></div>
</div>
 <%= render 'layouts/foundation' %>