<br>

<container>
  <row class="collapse">
    <columns small="12" large="12">
    	<div class="hero-section">
		  <div class="hero-section-text">
		    <h6>
		    	Nací en Caracas, Venezuela en 1997.<br/>
		    	Viví en la Isla de Margarita toda mi vida.<br/>
		    	Estudié un tiempo Estadística pero decidí seguir mis sueños y<br/>
		    	me retiré para dedicarme plenamente a la cocina.<br/>
		    	Estudié con el reconocido chef Sumito Estévez y trabajé en 3 cocinas.<br/>
		    	Luego, emigré a Chile y aquí he trabajado en reconocidas cocinas<br/>
		    	como Bastad Burgers, Segundo piso, realicé pasantías en Ambrosías<br/>
		    	y tuve el privilegio de volver a estudiar y trabajar con Sumito.<br/>
		    	Estoy en constante crecimiento y búsqueda de oportunidades donde<br/>
		    	pueda ofrecer mis servicios.<br/>

		    	<b>Contáctame:
		    	email: gdavidbracho@gmail.com<br>mobile: +5678293000</b></h6>

		  </div>
		</div>
    </columns>
  </row>
</container>+


+