<hr>
<footer style="font-color: black;">
	<div class="row">
		<div class="medium-6 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li><%= link_to "Inicio", root_path %></li>
			    <li><%= link_to "Mis recetas", about_index_path %></li>
			    <li><%= link_to "Sobre mí", reachout_index_path %></li>
			  </ul>
			</nav>
		</div>
		<div class="medium-2 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li><%= link_to "Legal", legal_index_path %></li>
			  </ul>
			</nav>
		</div>
		<div class="medium-4 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li class="menu-text" style="text-align: right;">Copyright © 2019 WebCorp</li>
			  </ul>
			</nav>
		</div>
	</div>
	
</footer>