<hr>
<footer>
	<div class="row">
		<div class="medium-6 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li><%= link_to "Inicio", root_path %></li>
			    <li><%= link_to "Mis recetas", about_index_path %></li>
			    <li><%= link_to "Contáctame", reachout_index_path %></li>
			  </ul>
			</nav>
		</div>
		<div class="medium-2 columns">
			  <ul>
			    <li><%= link_to "Legal", legal_index_path %></li>
			  </ul>
		</div>
		<div class="medium-4 columns">
			  <ul class="menu align-right">
			    <li class="menu-text">Copyright © 2019 Web Corp</li>
			  </ul>
		</div>
	</div>
	
</footer>