<header>
	<div class="row">
		<div class="medium-12 columns">
			<h2 style="font-family: 'Libre Baskerville', serif;"><center>Gerardo David Bracho F.</center></h2>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<h3 style="font-family: 'Libre Baskerville', serif;"><center>Chef Internacional</center></h3>
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li><%= link_to "Inicio", root_path %></li>
			    <li><%= link_to "Mis recetas", about_index_path %></li>
			    <li><%= link_to "Contáctame", reachout_index_path %></li>
			  </ul>
			</nav>
		</div>
	</div>
</header>